<button md-button class="create-topic-btn" routerLink="/create-topic" xmlns="http://www.w3.org/1999/html">Create New</button>
<div class="main-div-container" fxLayoutAlign="center">

  <div class="center-div-container">
    <ul class="topics-main-ul">
      <li *ngFor="let topic of topics" class="event-list">
        <md-card class="event-card">
          <div style="float: right">
            <p class="default-text">{{getDateAsString(topic.timeStamp)}}</p>
            <p class="default-text" style="float: right">Views: 0</p>
            <br>
            <p class="default-text" style="float: right">Comments: {{topic.subTopics.length}}</p>
          </div>
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <div class="topic-title">
              <p class="title-text default-text link">{{topic.title}}</p>
              <md-card-subtitle style="display:inline-block;" class="username-card-sub"><p class="default-text" style="float: left;">By:</p><p style="float: right" class="default-text link">{{topic.user.name}}</p></md-card-subtitle>
            </div>
          </md-card-header>
          <!--Small Menu Here!-->
        </md-card>
      </li>
    </ul>
  </div>
</div>
